<h3>Geo MyWom</h3>
<hr class="border border-primary border-2 opacity-75">
<ul class="list-group">
  <li routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="list-group-item" >
    Home page
  </li>
  <!-- <li routerLink="about" routerLinkActive="active" class="list-group-item">
    About Page
  </li>
  <li routerLink="contact" routerLinkActive="active" class="list-group-item">
    Contacto
  </li> -->

  <li routerLink="geo/direccion-actual" routerLinkActive="active" class="list-group-item">
    Dirección Actual
  </li>
  <li routerLink="geo/ubicacion-actual" routerLinkActive="active" class="list-group-item">
    Ubicación Actual
  </li>
  <li routerLink="geo/otra-direción" routerLinkActive="active" class="list-group-item">
    Otra Dirección
  </li>
</ul>

