<h3>Dirección Actual</h3>
<hr class="border border-danger border-2 opacity-50">
<div class="row">
  <div class="col">
    <p>En este apartado se consume el servicio <code>GET_STANDARDIZATION</code> el cual recibe dos parametros de tipo <var>:string</var></p>
    <div class="alert alert-light" role="alert">
      <code class="text-primary">
        city: "11001",<br>
        address: "KR 100 50 B SUR 45"
      </code>
    </div>

    <button type="button" (click)="standardizationByCurrentAddress('11001', 'carrera 100 # 50 B 45 sur')" class="btn btn-primary">Ejecutar</button>
  </div>
</div>
<div class="row">
  <div class="col">
    <hr class="border border-success-subtle border-2 opacity-50">
  </div>
</div>
